In [1]:
import pandas as pd
import numpy as np

In [3]:
def load_file(number, filename):
    print('____________________________________________________')
    print(number)
    print(filename)
    print('____________________________________________________')
    file = pd.read_csv(filename)
    print(file.shape)
    print(file.head(3))
    return file

In [24]:
# Note, added 'r' prefix to the string literals which prevents this special sequence from being interpreted
df_test_data = load_file(1,r'C:\DEV\git\kaggle-titanic\data\test.csv')
df_training_set = load_file(2,r'C:\DEV\git\kaggle-titanic\data\train.csv')

____________________________________________________
1
C:\DEV\git\kaggle-titanic\data\test.csv
____________________________________________________
(418, 11)
   PassengerId  Pclass                              Name     Sex   Age  SibSp  \
0          892       3                  Kelly, Mr. James    male  34.5      0
1          893       3  Wilkes, Mrs. James (Ellen Needs)  female  47.0      1
2          894       2         Myles, Mr. Thomas Francis    male  62.0      0

   Parch  Ticket    Fare Cabin Embarked
0      0  330911  7.8292   NaN        Q
1      0  363272  7.0000   NaN        S
2      0  240276  9.6875   NaN        Q
____________________________________________________
2
C:\DEV\git\kaggle-titanic\data\train.csv
____________________________________________________
(891, 12)
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S

In [12]:
# Check to see what features have null values in test data
print("PassengerId: ") 
df_test_data[pd.isnull(df_test_data.PassengerId)].shape

PassengerId:

(0, 11)

In [13]:
print("Pclass: ") 
df_test_data[pd.isnull(df_test_data.Pclass)].shape

Pclass:

(0, 11)

In [15]:
print("Name: ") 
df_test_data[pd.isnull(df_test_data.Name)].shape

Name:

(0, 11)

In [14]:
print("Sex: ") 
df_test_data[pd.isnull(df_test_data.Sex)].shape

Sex:

(0, 11)

In [16]:
print("Age: ") 
df_test_data[pd.isnull(df_test_data.Age)].shape

Age:

(86, 11)

In [17]:
print("SibSp: ") 
df_test_data[pd.isnull(df_test_data.SibSp)].shape

SibSp:

(0, 11)

In [22]:
print("Parch: ") 
df_test_data[pd.isnull(df_test_data.PassengerId)].shape

Parch:

(0, 11)

In [18]:
print("Ticket: ") 
df_test_data[pd.isnull(df_test_data.Parch)].shape

Ticket:

(0, 11)

In [19]:
print("Fare: ") 
df_test_data[pd.isnull(df_test_data.Fare)].shape

Fare:

(1, 11)

In [20]:
print("Cabin: ") 
df_test_data[pd.isnull(df_test_data.Cabin)].shape

Cabin:

(327, 11)

In [21]:
print("Embarked: ") 
df_test_data[pd.isnull(df_test_data.Embarked)].shape

Embarked:

(0, 11)